appdirs==1.4.4
appnope==0.1.0
argcomplete==1.12.1
astroid==2.4.2
attrs==20.2.0
autopep8==1.5.4
backcall==0.2.0
black==19.10b0
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
colorlog==4.2.1
dataclasses==0.7
decorator==4.4.2
deprecation==2.1.0
distlib==0.3.1
filelock==3.0.12
flake8==3.8.4
-e git+sso://devrel/cloud/libraries/tools/barnabas@2d4d3be4d26ced8ef2d057a1ba90d61d9d0eaf1e#egg=gapic_samplegen
-e git+https://github.com/googleapis/synthtool.git@da29da32b3a988457b49ae290112b74f14b713cc#egg=gcp_synthtool
google-api-core==1.22.4
google-api-python-client==1.12.3
google-auth==1.22.1
google-auth-httplib2==0.0.4
-e git+sso://devrel/cloud/libraries/aiplatform/python-aiplatform@a0afdcbee211c6c100be17cb9d09faa1c94c1fcb#egg=google_cloud_aiplatform
google-cloud-core==1.4.2
# Editable install with no version control (google-cloud-documentai==0.3.0)
-e /Users/aribray/venv/lib/python3.6/site-packages
google-cloud-storage==1.31.2
google-crc32c==1.0.0
google-resumable-media==1.1.0
googleapis-common-protos==1.52.0
grpcio==1.32.0
httplib2==0.18.1
idna==2.10
importlib-metadata==2.0.0
importlib-resources==3.0.0
inflection==0.3.1
iniconfig==1.0.1
ipdb==0.13.4
ipython==7.16.1
ipython-genutils==0.2.0
isort==5.5.4
javalang==0.13.0
jedi==0.17.2
Jinja2==2.11.2
lazy-object-proxy==1.4.3
libcst==0.3.4
MarkupSafe==1.1.1
mccabe==0.6.1
mock==4.0.2
mypy-extensions==0.4.3
networkx==2.4
nox==2020.8.22
packaging==20.4
parso==0.7.1
pathspec==0.8.0
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.8
proto-plus==1.10.1
protobuf==3.13.0
ptyprocess==0.6.0
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
Pygments==2.7.1
pyparsing==2.4.7
pytest==6.1.1
pytest-asyncio==0.14.0
pytz==2020.1
PyYAML==5.3.1
regex==2020.2.20
requests==2.24.0
rsa==4.6
six==1.15.0
toml==0.10.1
traitlets==4.3.3
typed-ast==1.4.1
typing-extensions==3.7.4.1
typing-inspect==0.5.0
uritemplate==3.0.1
urllib3==1.25.10
virtualenv==20.0.35
watchdog==0.10.3
wcwidth==0.2.5
wrapt==1.12.1
zipp==3.3.0
